[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"

[packages]
click = "==7.1.2"
dnspython = "==2.0.0"
itsdangerous = "==1.1.0"
pymongo = "==3.11.0"
Flask = "==1.1.2"
Flask-PyMongo = "==2.3.0"
Werkzeug = "==1.0.1"

[requires]
python_version = "3.9"
