@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* -- SITE COLOURS --*/
:root {
    --p-light-grey: #f5f5f5;
    --p-dark-grey: #4a4a4f;
    --s-light-grey: #e6ecf0;
    --p-orange: #e84610;
    --p-blue: #007cba;
    --off-white: #fafafa;
    --box-shadow: 4px 4px 12px 0px rgba(0, 0, 0, 0.1);
}

/* -- GENERAL -- */
body {
    display: flex;
    flex-direction: column;
    background-color: var(--p-dark-grey);
    font-family: 'Montserrat', sans-serif;
    color: var(--p-dark-grey);
    font-size: 1.1rem;
    font-weight: 400;
    letter-spacing: 1px;
    text-align: justify;
    padding-top: 75px;
}

p {
    font-size: 1rem;
    width: 100%;
    text-align: center;
}

.jumbotron {
    margin-top: 1rem;
    align-self: center;
    text-align: center;
    box-shadow: none
}

.break-line {
    background-color: var(--p-orange);
    opacity: 50%;
    width: 75%;
    height: 1px;
    margin: 20px auto;
}

.fas {
    color: var(--p-orange);
}

.red-asterisk {
    color: red;
}

/* -- NAVIGATION -- */
.navbar {
    background-color: #fff;
}

.nav-item {
    padding: 0 15px;
}

.navbar-brand img {
    height: 50px;
    width: auto;
    padding: 0 15px;
}

#mainNav {
    justify-content: flex-end;
}

.nav-item.active>.nav-link {
    background-color: #fff !important;
    border-radius: 5px;
    border: 1px solid var(--p-orange);
}

.nav-link {
    border-radius: 5px;
    transition: transform .4s;
    box-shadow: var(--box-shadow);
}

.nav-link:hover {
    transform: scale(1.05);
}

#active_page {
    border: 1px solid var(--p-orange);
    border-radius: 5px;
    color: var(--p-orange);
    font-weight: 600;
}

/* -- INTRO -- */
.slide-heading {
    text-align: center;
    font-weight: 400;
    letter-spacing: 5px;
    margin-bottom: 3rem;
    animation: 1s header-slider 1s forwards;
    transform: translateX(-100%);
}

@keyframes header-slider {
    to {
        transform: translateX(0);
    }
}

/* -- BUTTONS -- */

.btn {
    background-color: var(--p-orange);
    border: 1px solid var(--p-dark-grey);
    color: var(--s-light-grey);
    padding: 5px 15px;
    min-width: 175px;
}

.btn i {
    color: var(--s-light-grey);
    margin: 10px 15px 10px 0;
}

.btn-blue {
    color: var(--off-white);
    background-color: var(--p-blue);
}

/* -- FORMS -- */
form {
    text-align: center;
    /* padding: 0px 1rem; */
}

form i {
    color: var(--p-orange);
    width: 25px;
}

label {
    width: 100%;
    text-align: left;
    font-weight: 500;
}

/* -- RESOURCE PAGE -- */
.resource-content {
    padding: 10px;
    border: 2px solid var(--p-orange);
}

.resource-btn {
    width: 100%;
    margin: 10px 0 0 0;
    padding: 5px;
    align-items: center;
}

.resource-btn i {
    font-size: 1.5rem
}

.resource-btn i:hover {
    color: var(--p-orange);
}

.btn .resource-badge {
    min-width: 140px;
    background-color: var(--p-orange);
    padding: 10px;
    font-size: 0.7rem;
    font-weight: 500;
    top: -13px;
}

.resource-badge-wrapper {
    text-align: center;
}

.resource-btn h6:hover {
    color: var(--p-orange);
    font-weight: 600;
}

.search-label-wrap {
    margin-bottom: 25px;
}

.none-warning {
    width: fit-content;
    margin: auto;
}

/* PDF MODAL */
.modal {
    max-width: 100%;
}

.modal-fullscreen {
    min-width: fit-content;
}

.pdfContainer {
    height: fit-content;
}

.pdf-embed {
    height: 100%;
    width: 100%;
}

/* ADMIN 'MANAGE' PAGES */
.edit-btn,
.delete-btn {
    padding: 5px;
    width: 3.5rem;
    font-size: .6rem;
    min-width: 80px;
}

.edit-col {
    text-align: start;
}

.delete-col {
    text-align: end;
}

.table-title-col {
    overflow-wrap: anywhere;
}

table {
    width: 100%;
    height: 60px;
    margin: 15px 0;
}

table td,
table th {
    border: 1px solid var(--p-orange);
    padding: .5rem;
    font-weight: 500;
}

.table-btn-col {
    width: 15%;
}

.btn-col {
    padding: 0;
}

/* -- FOOTER -- */
footer hr {
    background-color: var(--off-white);
}

footer {
    flex-shrink: 0;
    font-size: .8rem;
    font-weight: 200;
    letter-spacing: 1px;
    color: var(--p-light-grey);
}

footer h4 {
    margin: 20px 0;
    font-weight: 400;
    letter-spacing: 2px;
}

footer p {
    text-align: justify;
}

footer a:hover {
    color: var(--p-orange);
}

footer ul {
    padding: 0;
    list-style: none;
}

footer ul li a,
.copyright-footer a,
footer i {
    color: var(--p-light-grey);
}

.social-footer {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.social-footer p {
    margin: 0;
}

.social-footer i {
    font-size: 200%;
}

.copyright-footer,
.social-footer {
    margin: 15px 0;
    padding: 0;
}

.copyright-footer p {
    text-align: center;
}

.lynx-logo {
    height: 2rem;
}

.fa-dot-circle {
    color: var(--p-orange);
    box-shadow: var(--box-shadow);
}

footer i {
    font-size: 150%;
    margin: 0 20px 0 0;
    transition: transform .4s;
    box-shadow: var(--box-shadow);
}

footer i:hover {
    transform: scale(1.3);
}

/* Credit: Adapted from https://css-tricks.com/making-css-animations-feel-natural/ */
/* 404 error page hand bounce animation */
.hands {
    align-self: flex-end;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    margin: 0 auto 0 auto;
    transform-origin: bottom;
}

.bounce {
    animation-name: bounce;
    animation-timing-function: cubic-bezier(0.280, 0.840, 0.420, 1);
}

.error-btn {
    min-width: 135px;
}

@keyframes bounce {
    0% {
        transform: scale(1, 1) translateY(0);
    }

    50% {
        transform: scale(.9, 1.1) translateY(-5px);
    }

    100% {
        transform: scale(1, 1) translateY(0);
    }
}

/* -- MEDIA QUERIES -- */

@media only screen and (min-width: 576px) {
    .jumbotron {
        margin-top: 2rem;
    }
}

@media only screen and (min-width: 768px) {
    p {
        font-size: 1.2rem;
    }

    .jumbotron {
        margin-top: 3rem;
    }

    .break-line {
        margin: 40px auto;
    }

    .resource-badge-wrapper {
        text-align: end;
    }

    .search-label-wrap {
        margin: 0;
    }

    .btn i {
        font-size: 150%;
    }

    form {
        padding: 0px 2rem;
    }

    table .btn {
        width: 80px;
    }

    footer {
        font-size: 1rem;
    }

    .copyright-footer p {
        text-align: left;
    }

    .social-footer {
        display: block;
        text-align: right;
        order: 2;
    }
}

@media only screen and (min-width: 992px) {
    form {
        padding: 0px 3rem;
    }

    .jumbotron {
        margin-top: 4rem;
    }
}