{% extends "base.html" %}
{% set active_page = 'add_resource' %}
{% block content %}

<div class="container">
    <div class="jumbotron">
        <h1>Add Resource Category</h1>
        <form action="{{ url_for('add_category') }}" method="POST">
            <p>Hi {{ session.user|title }}, please add a New Category in the field below.</p>
            <br><hr><br>

            <!-- new category name -->
            <label for="category_name">
                <i class="fas fa-folder-open"></i>
                <b>New Category Name:
                    <span class="red-asterisk"> *</span>
                </b>
            </label>
            <input type="text" name="category_name" id="category_name" class="form-control  validate mb-4"
                placeholder="Category Name" minlength="5" maxlength="20" required>

            <!-- submit button -->
            <button class="btn btn-block my-4" type="submit">
                <i class="fas fa-folder-plus"></i>
                Add Category
            </button>
        </form>
    </div>
</div>
{% endblock %}