{% extends "base.html" %}
{% set active_page = 'add_resource' %}
{% block content %}

<div class="container my-5">
    <div class="jumbotron card-image">
        <div>
            <h1 class="card-title pt-3 mb-5 font-bold"><b>Add New Category</b></h1>
            <form class="text-center" action="{{ url_for('add_category') }}" method="POST">

                <div class="container">
                    <p>Hi {{ session.user|title }}, please post in all sections and be as detailed as possible</p>
                    <br>
                    <hr><br>

                    <!-- title -->
                    <div class="row">
                        <label for="category_name">
                            <i class="fas fa-file-alt"></i>
                            <b>New Category Name:<span class="red-asterisk"> *</span></b>
                        </label>
                        <input type="text" name="category_name" id="category_name" class="form-control  validate mb-4"
                            placeholder="Resource Title" minlength="5" maxlength="20" required>
                    </div>

                <!-- submit button -->
                <button class="btn btn-block my-4" type="submit">
                    <i class="fas fa-rocket"></i>
                    Add Category
                </button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
