{% extends "base.html" %}
{% block content %}

<h3>Add Resource</h3>
<div class="container form-container my-5 py-5 z-depth-1">
    <section class="px-md-5 mx-md-5 text-center text-lg-left">
        <div class="row d-flex justify-content-center">
            <div class="col-md-8">


                <form class="text-center" action="" method="post">
                    <div class="container">
                        <p class="h4 mb-4"><b>Add Material</b></p>
                        <p>Hi {{ user }}, please post in call sections and be as detailed as possible</p>

                        <div class="row">

                            <label for="title"><i class="fas fa-book-open"></i><b> Post Title</b></i></label>
                            <input type="text" name="title" id="title" class="form-control  validate mb-4"
                                placeholder="Title" minlength="5" maxlength="50" required>
                        </div>

                        <div class="row">
                            <label for="description"><i class="fas fa-file-word"></i><b> Resource
                                    Description</b></i></label>
                            <textarea type="text" name="description" id="description" class="form-control mb-4 validate"
                                rows="3" minlength="5" maxlength="200" required></textarea>
                        </div>

                        <div class="row">
                            <label for="title"><i class="fas fa-users"><b> Slack Lead Name</b></i></label>
                            <input type="text" name="created_by" id="created_by" class="form-control validate mb-4"
                                placeholder="Slack Lead Name" minlength="5" maxlength="20" required>
                        </div>

                        <div class="row">
                            <label for="title"><i class="fas fa-cloud-upload-alt"><b> Hosted Location:</b></i></label>
                            <input type="url" name="url" id="url" class="form-control validate mb-4"
                                placeholder="https://" minlength="5" maxlength="50" required>
                        </div>

                        <div class="row">
                            <label for="date"><i class="far fa-calendar-alt"><b> Date Posted:</b></i></label>
                            <input name="date" type="text" id="date" class="form-control validate mb-4"
                                placeholder="dd/mm/yy" required>
                        </div>

                    </div>
                    <button class="btn btn-block my-4" type="submit">
                        <i class="fas fa-rocket"></i>
                        Add Awesome Resource!
                    </button>
                </form>
            </div>
        </div>
    </section>
</div>
{% endblock %}