{% extends "base.html" %}
{% set active_page = 'add_users' %}
{% block content %}

<div class="container">
    <div class="jumbotron">
        <h1>Add User</h1>
        <form action="{{ url_for('add_users', user=session.user) }}" method="POST">
            <div class="container">
                <p>Hi {{ session.user|title }}, please add a New User in the field below.</p>
                <br><hr><br>

                <!-- username -->
                <div class="row">
                    <label for="username">
                        <i class="fas fa-user-circle"></i>
                        <b>Add New Username:</b>
                        <span class="red-asterisk"> *</span>
                    </label>
                    <input type="text" name="username" id="username" class="form-control mb-4"
                        placeholder="New Username" required>
                </div>

                <!-- password -->
                <div class="row">
                    <label for="password">
                        <i class="fas fa-key"></i>
                        <b>Add New Password:</b>
                        <span class="red-asterisk"> *</span>
                    </label>
                    <input type="password" name="password" id="password" class="form-control mb-4"
                        placeholder="New Password" required>
                </div>
            </div>

            <!-- submit button -->
            <button class="btn btn-block my-4" type="submit">
                <i class="fas fa-plus-square"></i>
                Add User
            </button>
        </form>
    </div>
</div>

{% endblock %}