{% extends "base.html" %}
{% set active_page = 'contact' %}
{% block content %}

<div class="container">
    <div class="jumbotron">
        <h1>Contact</h1>
        <p>We'd love to hear from you and any feedback you have on how we're doing.</p>
        <p>Please feel free to make suggestions of what you'd like covered in future.</p>

        <div class="break-line"></div>

        <form action="{{ url_for('contact') }}" method="POST">
            <div class="container">
                <!-- category -->
                <div class="row">
                    <label for="category_name">
                        <i class="fas fa-folder-open"></i>
                        Category Name:
                        <span class="red-asterisk">*</span>
                    </label>
                    <select name="category_name" id="category_name" class="browser-default custom-select validate"
                        required>
                        <option value="" disabled selected>-Select a Category-</option>
                        {% for category in categories  %}
                        <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                        {% endfor  %}
                    </select>
                </div>
                <br>

                <!-- title -->
                <div class="row">
                    <label for="subject">
                        <i class="fas fa-file-alt"></i>
                        Subject:
                        <span class="red-asterisk">*</span>
                    </label>
                    <input type="text" name="subject" id="subject" class="form-control validate mb-4"
                        placeholder="Subject" minlength="5" maxlength="50" required>
                </div>

                <!-- feedback/resource suggestion description -->
                <div class="row">
                    <label for="feedback">
                        <i class="fas fa-comments"></i>
                        Feedback / Suggestions:
                        <span class="red-asterisk">*</span>
                    </label>
                    <textarea type="text" name="feedback" id="feedback" class="form-control mb-4 validate" rows="5"
                        placeholder="Your feedback and suggestions are greatly appreciated!" minlength="5"
                        maxlength="200" required></textarea>
                </div>

                <!-- resource url location -->
                <div class="row">
                    <label for="feedback_url">
                        <i class="fas fa-cloud-upload-alt"></i>
                        Resource url (optional):
                    </label>
                    <input type="url" name="feedback_url" id="feedback_url" class="form-control validate mb-4"
                        placeholder="https://" minlength=" 5">
                </div>

                <!-- slack name -->
                <div class="row">
                    <label for="slackName">
                        <i class="fab fa-slack"></i>
                        Slack Username (optional):
                    </label>
                    <input type="text" name="slackName" id="slackName" class="form-control validate mb-4"
                        placeholder="Slack Username" minlength=" 5" maxlength="50">
                </div>

                <!-- name -->
                <div class="row">
                    <label for="yourName">
                        <i class="fas fa-user-circle"></i>
                        Name:
                        <span class="red-asterisk">*</span></label>
                    <input type="text" name="yourName" id="yourName" class="form-control validate mb-4"
                        placeholder="Name" minlength=" 5" maxlength="50" required>
                </div>

                <!-- email -->
                <div class="row">
                    <label for="emailAddress">
                        <i class="fas fa-at"></i>
                        Email:
                        <span class="red-asterisk">*</span>
                    </label>
                    <input type="email" name="emailAddress" id="emailAddress" class="form-control validate mb-4"
                        placeholder="Email Address" minlength=" 5" maxlength="50" required>
                </div>
            </div>
            <!-- submit button -->
            <button class="btn" type="submit">
                <i class="fas fa-paper-plane"></i>
                SUBMIT FEEDBACK
            </button>
        </form>

    </div>
</div>

{% endblock %}