{% extends "base.html" %}
{% set active_page = 'edit_category' %}
{% block content %}

<div class="container">
    <div class="jumbotron">
        <h1>Edit Category</h1>
        <p>Hi {{ session.user|title }}, please edit Category name in the field below.</p>
        
        <div class="break-line"></div>
        
        <form id="editConfirm" action="{{ url_for('edit_category', category_id=category._id) }}" method="POST">
            <div class="container">

                <!-- title -->
                <div class="row">
                    <label for="category_name">
                        <i class="fas fa-file-alt"></i>
                        Category Name:
                    </label>
                    <input type="text" name="category_name" id="category_name" class="form-control  validate mb-4"
                        value="{{ category.category_name }}" placeholder="Resource Title" minlength="5" maxlength="20"
                        required>
                </div>

                <!-- submit button -->
                <!-- Trigger edit confirm modal-->
                <button type="button" class="btn btn-blue" data-toggle="modal" data-target="#modalEdit">
                    <i class="far fa-check-circle"></i>
                    CONFIRM
                </button>

                <!-- Cancel button -->
                <a href="{{ url_for('manage_categories') }}" class="btn btn-danger">
                    <i class="fas fa-times-circle"></i>
                    Cancel
                </a>
            </div>
        </form>
    </div>
</div>

    <!-- Edit Confirm Modal -->
    <div class="modal fade" id="modalEdit" tabindex="-1" role="dialog" aria-labelledby="modalEdit" aria-hidden="true">
        <div class="modal-dialog modal-md modal-notify modal-info" role="document">
            <div class="modal-content text-center">
                <!--Header-->
                <div class="modal-header d-flex justify-content-center">
                    <p class="heading">Are you sure you want to EDIT this item?</p>
                </div>
                <div class="modal-body">
                    <i class="far fa-edit fa-4x animated rotateIn mb-4"></i>
                    <div class="modal-footer flex-center">
                        <button class="btn btn-success" type="submit" form="editConfirm">
                            <i class="fas fa-check"></i>
                            YES
                        </button>
                        <button class="btn btn-danger waves-effect" type="button" data-dismiss="modal">
                            <i class="fas fa-times animated rotateIn"></i>
                            Cancel
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}