{% extends "base.html" %}
{% set active_page = 'login' %}
{% block content %}

<div class="container">
    <div class="jumbotron">
        <h1>Log In</h1>
        <form action="{{ url_for('login') }}" method="POST">
            <div class="container">
                <p>Please request login details from any Channel Lead on Slack</p>
                <br>
                <div class="break-line"></div>
                <br>
                <div class="row">
                    
                    <!-- username -->
                    <label class="text-left" for="username">
                        <i class="fas fa-user-circle"></i>
                        Username:
                        <span class="red-asterisk">*</span>
                    </label>
                    <select type="username" name="username" id="username" class="form-control mb-4"
                        placeholder="Username" required>
                        <option value="" disabled selected>
                            - Select User -
                        </option>
                        {% for user in users %}
                        <option value="{{ user.user_type }}">{{ user.user_type|title }}
                        </option>
                        {% endfor %}
                    </select>
                </div>

                <!-- password -->
                <div class="row">
                    <label for="password">
                        <i class="fas fa-key"></i>
                        Password:
                        <span class="red-asterisk">*</span>
                    </label>
                    <input type="password" name="password" id="password" class="form-control mb-4"
                        placeholder="Password" required>
                </div>

            </div>

            <!-- login button -->
            <button class="btn" type="submit">
                <i class="fas fa-unlock"></i>
                Log in
            </button>
        </form>
    </div>
</div>

{% endblock %}