{% extends "base.html" %}
{% set active_page = 'login' %}
{% block content %}

<div class="container">
    <div class="jumbotron">
        <h1>Sign In</h1>
        <form action="{{ url_for('login') }}" method="POST">
            <div class="container">
                <p>Please request login details from any Channel Lead on Slack</p>
                <br>
                <hr>
                <br>
                <div class="row">
                    
                    <!-- username -->
                    <label class="text-left" for="username">
                        <i class="fas fa-user-circle"></i>
                        <b>Username:</b>
                        <span class="red-asterisk"> *</span>
                    </label>
                    <select type="username" name="username" id="username" class="form-control mb-4"
                        placeholder="Username" required>
                        <option value="" disabled selected>
                            - Select User -
                        </option>
                        {% for user in users %}
                        <option value="{{ user.user_type }}">{{ user.user_type }}
                        </option>
                        {% endfor %}
                    </select>
                </div>

                <!-- password -->
                <div class="row">
                    <label for="password">
                        <i class="fas fa-key"></i>
                        <b>Password:</b>
                        <span class="red-asterisk"> *</span>
                    </label>
                    <input type="password" name="password" id="password" class="form-control mb-4"
                        placeholder="Password" required>
                </div>

                <!-- password remember -->
                <div class="d-flex justify-content-around">
                    <div>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="remember-me">
                            <label class="custom-control-label" for="remember-me">
                                Remember me
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <!-- login button -->
            <button class="btn" type="submit">
                <i class="fas fa-unlock"></i>
                Log in
            </button>
        </form>
    </div>
</div>

{% endblock %}