{% extends "base.html" %}
{% set active_page = 'manage_resources' %}
{% block content %}

{% if session.user|lower == 'lead' or session.user|lower == 'superuser' or session.user|lower == 'assessor' %}
<div class="container">
    <div class="jumbotron">
        <h1>Manage Resources</h1>
        <p>Hi {{ session.user|title }}, you're on the resource management page.</p>
        <hr>
        <h2 class="mt-4 mb-4">
            <i class="fas fa-plus"></i>
            Add New Resource
        </h2>
        <!-- Add new resource -->
        <div class="row">
            <div class="col-12 ">
                <!-- link to add resource page -->
                <a href="{{ url_for('add_resource') }}" class="btn" type="submit">
                    <i class="fas fa-folder-plus"></i>
                    Add New Resource
                </a>
            </div>
        </div>
        <hr>

        <!-- Edit existing resources -->
        <div class="row">
            <div class="col-12">
                <h2 class="mt-4 mb-4">
                    <i class="fas fa-edit"></i>
                    Edit /
                    <i class="fas fa-trash"></i>
                    Delete Resources
                </h2>

                <!-- search form -->
                <form action="{{ url_for('search_manage_resources') }}" method="POST" class="col-12">
                    <div class="container">
                        <label for="query">
                            Search Resources
                        </label>

                        <input type="text" name="query" id="query" class="form-control mr-sm-2 validate"
                            placeholder="Search" aria-label="Search" required>
                        <!-- <i class="fas fa-search"></i> -->
                        <button class="btn" type="submit">
                            Search
                        </button>

                        <!-- <i class="fas fa-trash-restore"></i> -->
                        <a href="{{ url_for('manage_resources') }}" class="btn btn-primary">
                            Reset
                        </a>
                    </div>
                </form>

                <!-- Pagination -->
                {% if search == False %}
                <nav aria-label="Page navigation">
                    <p>Pages</p>
                    <ul style="justify-content: center;" class="pagination pg-blue">
                        {% for i in range(0, count) %}
                        <li class="page-item">
                            {% if i+1 == page %}
                            <a class="page-link active" id="active_page">
                                {% else %}
                                <a class="page-link" href="{{ url_for('manage_resources', page=i+1) }}">
                                    {% endif %}
                                    {{ i + 1  }}
                                </a>
                        </li>
                        {% endfor %}
                    </ul>
                </nav>
                {% endif %}

                <!-- list of resources -->
                <div class="container">
                    <div class="row">
                        {% if resources|length > 0 %}
                        {% for resource in resources %}
                        <!-- populated table content -->
                        <table>
                            <tr>
                                <div class="col-12 col-md-8">
                                    <!-- category heading -->
                                    <td class="table-title-col">
                                        {{ resource.title }}
                                    </td>
                                </div>
                                <div class="col-12 col-md-4">
                                    <td class="table-btn-col">
                                        <!-- edit button  -->
                                        <a href="{{ url_for('edit_resource', resource_id=resource._id) }}"
                                            class="btn btn-primary edit-btn">
                                            Edit
                                        </a>
                                        <form class="btn-col" id="deleteConfirm{{ resource._id }}"
                                            action="{{ url_for('delete_resource', resource_id=resource._id) }}">
                                            <!-- Trigger delete confirmation modal-->
                                            <button class=" btn btn-danger delete-btn" type="button" data-toggle="modal"
                                                data-target="#modalDelete{{ resource._id }}">
                                                Delete
                                            </button>
                                        </form>
                                    </td>
                                </div>
                            </tr>
                        </table>
                        {% endfor %}

                    </div>
                </div>
                

                <!-- Delete Item Modal -->
                {% for resource in resources %}
                <div class=" modal fade" id="modalDelete{{ resource._id }}" tabindex="-1" role="dialog"
                    aria-labelledby="modalDelete" aria-hidden="true">
                    <div class="modal-dialog modal-md modal-notify modal-danger" role="document">
                        <div class="modal-content text-center">
                            <div class="modal-header d-flex justify-content-center">
                                <p class="heading">Are you sure you want to DELETE this item?</p>
                            </div>
                            <div class="modal-body">
                                <p><i class="fas fa-exclamation-circle"></i> WARNING:</p>
                                <p>This action cannot be undone!</p>
                                <div class="modal-footer flex-center">
                                    <button class="btn btn-outline-danger" type="submit"
                                        form="deleteConfirm{{ resource._id }}">
                                        Confirm
                                    </button>
                                    <button class="btn btn-danger waves-effect" type="button" data-dismiss="modal">
                                        <i class="fas fa-times animated rotateIn"></i>
                                        Cancel
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% else %}
                <!-- Show error if no search results found  -->
                <h4 class="card-title pt-3 mb-5 font-bold">No results found, please try another search</h4>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}