{% extends "base.html" %}
{% set active_page = 'manage_users' %}
{% block content %}

{% if session.user|lower == 'superuser' or session.user|lower == 'assessor' %}
<div class="container">
    <div class="jumbotron">
        <h1>Manage Users</h1>
        <p>Hi {{ session.user|title }}, you're on the user management page.</p>
        <hr>
        <!-- Add new user -->
        <h2>Add New User</h2>
        <form id="addUserConfirm" action="{{ url_for('add_users', user=session.user) }}" method="POST">
            <div class="row">
                <!-- New username -->
                <div class="col-12 col-md-6">
                    <label for="username">
                        <i class="fas fa-user-circle"></i>
                        Add New Username:
                        <span class="red-asterisk"> *</span>
                    </label>
                    <input type="text" name="username" id="username" class="form-control validate mb-4"
                        placeholder="Category Name" minlength="5" maxlength="20" required>
                </div>

                <!-- New password -->
                <div class="col-12 col-md-6">
                    <label for="password">
                        <i class="fas fa-key"></i>
                        Add New Password:
                        <span class="red-asterisk"> *</span>
                    </label>
                    <input type="password" name="password" id="password" class="form-control validate mb-4"
                        placeholder="New Password" minlength="5" required>
                </div>
            </div>
            <div class="row">
                <div class="col-12">

                    <!-- Button trigger modal-->
                    <button type="button" class="btn add-btn" data-toggle="modal" data-target="#modalAddUser">
                        <i class="fas fa-user-plus"></i>
                        Add User
                    </button>
                </div>
            </div>
        </form>
        <hr>

        <!-- Edit existing users -->
        <div class="row">
            <div class="col-12">
                <h2 class="mt-4 mb-4">Manage Existing Users</h2>
                <!-- table headings -->
                <table>
                    <tr>
                        <th class="cat-name-col">
                            <strong>Username</strong>
                        </th>
                        <th class="table-btn-col">
                            <i class="fas fa-edit"></i>
                        </th>
                        <th class="table-btn-col">
                            <i class="fas fa-trash-alt"></i>
                        </th>
                    </tr>
                </table>

                {% for user in users %}
                <!-- populated table content -->
                <table>
                    <tr>
                        <td class="table-title-col">{{ user.user_type|title }}</td>
                        <!-- <td class="table-btn-col">
                            <a href="" class="btn btn-primary edit-btn">Edit</a>
                        </td> -->
                        <td class="table-btn-col">
                            <form action="{{ url_for('delete_user', user_id=user._id) }}"
                                id="deleteConfirm{{ user._id }}">
                                <button class="btn btn-danger delete-btn" data-target="#modalDelete{{ user._id }}"
                                    data-toggle="modal" type="button" ">DELETE
                                </button>
                            </form>
                        </td>
                    </tr>
                </table>
            
                <!-- Delete Item Modal -->
                <div class="modal fade" id="modalDelete{{ user._id }}" tabindex="-1" role="dialog"
                                    aria-labelledby="modalDelete" aria-hidden="true">
                                    <div class="modal-dialog modal-md modal-notify modal-danger" role="document">
                                        <div class="modal-content text-center">
                                            <div class="modal-header d-flex justify-content-center">
                                                <p class="heading">Are you sure you want to DELETE this user?</p>
                                            </div>
                                            <div class="modal-body">
                                                <p><i class="fas fa-exclamation-circle"></i> WARNING:</p>
                                                <p>This action cannot be undone!</p>
                                                <div class="modal-footer flex-center">

                                                    <button class="btn btn-outline-danger" type="submit"
                                                        form="deleteConfirm{{ user._id }}">
                                                        Confirm
                                                    </button>

                                                    <button class="btn btn-danger waves-effect" type="button"
                                                        data-dismiss="modal">
                                                        <i class="fas fa-times animated rotateIn"></i>
                                                        Cancel
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
            </div>

            <!-- Add User Modal -->
            <div class="modal fade" id="modalAddUser" tabindex="-1" role="dialog" aria-labelledby="modalAddUser"
                aria-hidden="true">
                <div class="modal-dialog modal-md modal-notify modal-success" role="document">
                    <div class="modal-content text-center">
                        <div class="modal-header d-flex justify-content-center">
                            <p class="heading">Are you sure you want to ADD a new user?</p>
                        </div>
                        <div class="modal-body">
                            <div class="modal-footer flex-center">
                                <button class="btn btn-outline-success" type="submit" form="addUserConfirm">
                                    Confirm</span>
                                </button>
                                <button class="btn btn-danger waves-effect" type="button" data-dismiss="modal">
                                    <i class="fas fa-times animated rotateIn"></i>
                                    Cancel
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}
</div>
</div>

{% endblock %}