{% extends "base.html" %}
{% set active_page = 'manage_categories' %}
{% block content %}

<div class="container">
    <div class="jumbotron">
        <h1>Manage Categories</h1>

        <!-- add category -->
        <div class="row">
            <div class="col-12">
                <h3 class="mt-4 mb-4">Add New Category</h3>
                <a href="{{ url_for('add_category') }}" type="button" class="btn btn-block my-4 cat-btn">
                    <i class="fas fa-plus-square"></i>
                    Add Category
                </a>
            </div>
        </div>
        <hr>
        {% if session.user|lower == 'superuser' or session.user|lower == 'assessor' %}
        <div class="row">
            <div class="col-12">
                <h3 class="mt-4 mb-4">Manage existing categories</h3>
                <table>
                    <tr>
                        <th class="cat-name-col">
                           <strong>Category Name</strong> 
                        </th>
                        <th class="table-btn-col">
                            <a href="" class="btn btn-primary edit-btn">
                                <i class="fas fa-edit"></i>
                            </a>
                        </th>
                        <th class="table-btn-col">
                            <a href="" class="btn btn-danger delete-btn">
                                <i class="fas fa-trash-alt"></i>
                            </a>
                        </th>
                    </tr>
                </table>
                <hr>
                {% for category in categories %}
                <table>
                    <tr>
                        <td class="table-title-col">{{ category.category_name }}</td>
                        <td class="table-btn-col">
                            <a href="{{ url_for('edit_category', category_id=category._id) }}"
                                class="btn btn-primary edit-btn">Edit</a>
                        </td>

                        <td class="table-btn-col">
                            <a href="{{ url_for('delete_category', category_id=category._id) }}"
                                class="btn btn-danger delete-btn">Delete</a>
                        </td>
                    </tr>
                </table>

                {% endfor %}
            </div>
        </div>
        {% endif %}
    </div>

    {% endblock %}